p#cf7_controls {
    text-align:center;
}
#cf7_controls span {
    padding-right:2em;
    cursor:pointer;
}
#cf7 {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto 10px;
    overflow: hidden;
}
#cf7 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#cf7 img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}